body{
    background-color:lightcyan !important;
}

.bandu-logo {
    position: absolute;
    text-align: center  !important;
    margin-top: 10px !important;
    width:75% !important;
    height: 180px !important;
}

.convert-form{
    border: 1px black !important;
}

.submit-button{
    text-align: center !important;
}
.convert-form {
    border: 1px solid black !important;
    margin-left: 10px !important;
}

.header-img {
    position: absolute !important ;
    top: 0 !important;
    width: 100% !important;
    height: 25% !important;
}